@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 250ms;
}

.bg {
  height: 40vh;
  width: 99.5vw;
  position: absolute;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  z-index: -1;
}

.bg-dark {
  height: 40vh;
  width: 99.5vw;
  position: absolute;
  z-index: -1;
  background-image: linear-gradient(
    -225deg,
    #ff057c 0%,
    #8d0b93 50%,
    #321575 100%
  );
}

body,
.container {
  font-family: poppins;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  box-shadow: 0px 0 5px #000;
  border-radius: 1em;
  margin: 3rem;
  z-index: 2;
  background: #fff;
}

.heading {
  font-size: 2.5rem;
  margin: 1rem;
}

.todo-input {
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.171);
  border: 1px solid #000;
  outline: none;
  border-radius: 5px;
  font-family: poppins;
  font-weight: 600;
  cursor: pointer;
}

.todo-input:focus {
  box-shadow: 0px 0px 3px #fff;
}

.add-btn {
  padding: 0.5rem;
  border: 1px solid black;
  outline: none;
  font-family: poppins;
  font-weight: 600;
  border-radius: 5px;
}

.todos {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 30vw;
}

.todo {
  font-weight: 600;
  border-radius: 5px;
  font-size: 1.25rem;
  transition: animation 250ms;
  transition: all ease-in-out 250ms;
  background: rgba(204, 204, 204, 0.425);
  padding: 1rem;
}

.trash-btn,
.complete-btn {
  height: 100%;
  padding: 0.15rem;
  margin-left: 1rem;
}

button {
  cursor: pointer;
}

img {
  height: 2rem;
}

.dark-mode {
  padding: 0.5rem;
  border-radius: 50%;
  border: 2px solid black;
  outline: none;
  position: relative;
  top: 12rem;
  left: 25%;
  cursor: pointer;
}

.todo-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 0.3em;
}

@keyframes slide {
  0% {
    transform: translate(0rem);
    opacity: 100%;
  }

  100% {
    transform: translate(10rem);
    opacity: 0;
  }
}

@media all and (max-width: 500px) {
  .heading {
    text-align: center;
    font-size: 2rem;
  }

  .container {
    width: 90vw;
  }

  .todo {
    padding: 0.5rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    display: flex;
    align-items: center;
  }

  .todo-div {
    width: 80%;
    padding: 0;
    margin: 0;
  }

  .todos {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dark-mode {
    left: 1%;
    top: 0;
    bottom: 70%;
    margin-top: 2rem;
  }
}
